<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.cm.mapper.BsContractMapper">

    <resultMap type="com.hh.pms.cm.domain.BsContract" id="BsContractResult">
        <result property="hid" column="hid"/>
        <result property="eid" column="eid"/>
        <result property="eXcode" column="e_xcode"/>
        <result property="eXname" column="e_xname"/>
        <result property="eWinningPerson" column="e_winning_person"/>
        <result property="eHcode" column="e_hcode"/>
        <result property="eHname" column="e_hname"/>
        <result property="eStatus" column="e_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="eDeliveryTime" column="e_delivery_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="oHstatus" column="o_hstatus"/>
    </resultMap>

    <sql id="selectBsContractVo">
        select hid,
               eid,
               e_xcode,
               e_xname,
               e_winning_person,
               e_hcode,
               e_hname,
               e_status,
               create_by,
               create_time,
               e_delivery_time,
               update_by,
               update_time,
               o_hstatus
        from bs_contract
    </sql>

    <select id="selectBsContractList" parameterType="com.hh.pms.cm.domain.BsContract" resultMap="BsContractResult">
        <include refid="selectBsContractVo"/>
        <where>
            <if test="hid != null ">and hid = #{hid}</if>
            <if test="eXcode != null  and eXcode != ''">and e_xcode = #{eXcode}</if>
            <if test="eXname != null  and eXname != ''">and e_xname like concat('%', #{eXname}, '%')</if>
            <if test="eWinningPerson != null  and eWinningPerson != ''">and e_winning_person = #{eWinningPerson}</if>
            <if test="eHcode != null  and eHcode != ''">and e_hcode = #{eHcode}</if>
            <if test="eHname != null  and eHname != ''">and e_hname like concat('%', #{eHname}, '%')</if>
            <if test="eStatus != null ">and e_status = #{eStatus}</if>
            <if test="eDeliveryTime != null ">and e_delivery_time = #{eDeliveryTime}</if>
            <if test="oHstatus != null ">and o_hstatus = #{oHstatus}</if>
        </where>
    </select>

    <select id="selectBsContractByEid" parameterType="Long" resultMap="BsContractResult">
        <include refid="selectBsContractVo"/>
        where eid = #{eid}
    </select>

    <insert id="insertBsContract" parameterType="com.hh.pms.cm.domain.BsContract">
        insert into bs_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hid != null">hid,</if>
            <if test="eid != null">eid,</if>
            <if test="eXcode != null">e_xcode,</if>
            <if test="eXname != null">e_xname,</if>
            <if test="eWinningPerson != null">e_winning_person,</if>
            <if test="eHcode != null">e_hcode,</if>
            <if test="eHname != null">e_hname,</if>
            <if test="eStatus != null">e_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="eDeliveryTime != null">e_delivery_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="oHstatus != null">o_hstatus,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hid != null">#{hid},</if>
            <if test="eid != null">#{eid},</if>
            <if test="eXcode != null">#{eXcode},</if>
            <if test="eXname != null">#{eXname},</if>
            <if test="eWinningPerson != null">#{eWinningPerson},</if>
            <if test="eHcode != null">#{eHcode},</if>
            <if test="eHname != null">#{eHname},</if>
            <if test="eStatus != null">#{eStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="eDeliveryTime != null">#{eDeliveryTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="oHstatus != null">#{oHstatus},</if>
        </trim>
    </insert>

    <update id="updateBsContract" parameterType="com.hh.pms.cm.domain.BsContract">
        update bs_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="hid != null">hid = #{hid},</if>
            <if test="eXcode != null">e_xcode = #{eXcode},</if>
            <if test="eXname != null">e_xname = #{eXname},</if>
            <if test="eWinningPerson != null">e_winning_person = #{eWinningPerson},</if>
            <if test="eHcode != null">e_hcode = #{eHcode},</if>
            <if test="eHname != null">e_hname = #{eHname},</if>
            <if test="eStatus != null">e_status = #{eStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="eDeliveryTime != null">e_delivery_time = #{eDeliveryTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="oHstatus != null">o_hstatus = #{oHstatus},</if>
        </trim>
        where eid = #{eid}
    </update>

    <delete id="deleteBsContractByEid" parameterType="Long">
        delete
        from bs_contract
        where eid = #{eid}
    </delete>

    <delete id="deleteBsContractByEids" parameterType="String">
        delete from bs_contract where eid in
        <foreach item="eid" collection="array" open="(" separator="," close=")">
            #{eid}
        </foreach>
    </delete>
</mapper>