<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.BidGetTenderMapper">
    
    <resultMap type="com.hh.pms.domain.BidGetTender" id="BidGetTenderResult">
        <result property="yid"    column="yid"    />
        <result property="sid"    column="sid"    />
        <result property="tdName"    column="td_name"    />
        <result property="tdPerson"    column="td_person"    />
        <result property="tdPhone"    column="td_phone"    />
        <result property="email"    column="email"    />
        <result property="yDownloadTime"    column="y_download_time"    />
        <result property="tdStatus"    column="td_status"    />
    </resultMap>

    <sql id="selectBidGetTenderVo">
        select yid, sid, td_name, td_person, td_phone, email, y_download_time, td_status from bid_get_tender
    </sql>

    <select id="selectBidGetTenderList" parameterType="com.hh.pms.domain.BidGetTender" resultMap="BidGetTenderResult">
        <include refid="selectBidGetTenderVo"/>
        <where>  
            <if test="sid != null "> and sid = #{sid}</if>
            <if test="tdName != null  and tdName != ''"> and td_name like concat('%', #{tdName}, '%')</if>
            <if test="tdPerson != null  and tdPerson != ''"> and td_person = #{tdPerson}</if>
            <if test="tdPhone != null  and tdPhone != ''"> and td_phone = #{tdPhone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="yDownloadTime != null "> and y_download_time = #{yDownloadTime}</if>
            <if test="tdStatus != null "> and td_status = #{tdStatus}</if>
        </where>
    </select>
    
    <select id="selectBidGetTenderByYid" parameterType="Long" resultMap="BidGetTenderResult">
        <include refid="selectBidGetTenderVo"/>
        where yid = #{yid}
    </select>
        
    <insert id="insertBidGetTender" parameterType="com.hh.pms.domain.BidGetTender">
        insert into bid_get_tender
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="yid != null">yid,</if>
            <if test="sid != null">sid,</if>
            <if test="tdName != null">td_name,</if>
            <if test="tdPerson != null">td_person,</if>
            <if test="tdPhone != null">td_phone,</if>
            <if test="email != null">email,</if>
            <if test="yDownloadTime != null">y_download_time,</if>
            <if test="tdStatus != null">td_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="yid != null">#{yid},</if>
            <if test="sid != null">#{sid},</if>
            <if test="tdName != null">#{tdName},</if>
            <if test="tdPerson != null">#{tdPerson},</if>
            <if test="tdPhone != null">#{tdPhone},</if>
            <if test="email != null">#{email},</if>
            <if test="yDownloadTime != null">#{yDownloadTime},</if>
            <if test="tdStatus != null">#{tdStatus},</if>
         </trim>
    </insert>

    <update id="updateBidGetTender" parameterType="com.hh.pms.domain.BidGetTender">
        update bid_get_tender
        <trim prefix="SET" suffixOverrides=",">
            <if test="sid != null">sid = #{sid},</if>
            <if test="tdName != null">td_name = #{tdName},</if>
            <if test="tdPerson != null">td_person = #{tdPerson},</if>
            <if test="tdPhone != null">td_phone = #{tdPhone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="yDownloadTime != null">y_download_time = #{yDownloadTime},</if>
            <if test="tdStatus != null">td_status = #{tdStatus},</if>
        </trim>
        where yid = #{yid}
    </update>

    <delete id="deleteBidGetTenderByYid" parameterType="Long">
        delete from bid_get_tender where yid = #{yid}
    </delete>

    <delete id="deleteBidGetTenderByYids" parameterType="String">
        delete from bid_get_tender where yid in 
        <foreach item="yid" collection="array" open="(" separator="," close=")">
            #{yid}
        </foreach>
    </delete>
</mapper>