<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PpmFramePlanMapper">

    <resultMap type="PpmFramePlan" id="PpmFramePlanResult">
        <result property="jhId"    column="jh_id"    />
        <result property="oid"    column="oid"    />
        <result property="jhCode"    column="jh_code"    />
        <result property="jhName"    column="jh_name"    />
        <result property="jhYu"    column="jh_yu"    />
        <result property="dept"    column="dept"    />
        <result property="jhStatus"    column="jh_status"    />
        <result property="jhPerson"    column="jh_person"    />
        <result property="jhPmethod"    column="jh_pmethod"    />
    </resultMap>

    <sql id="selectPpmFramePlanVo">
        select jh_id, oid, jh_code, jh_name, jh_yu, dept, jh_status, jh_person, jh_pmethod from ppm_frame_plan
    </sql>

    <select id="selectPpmFramePlanList" parameterType="PpmFramePlan" resultMap="PpmFramePlanResult">
        <include refid="selectPpmFramePlanVo"/>
        <where>
            <if test="oid != null "> and oid = #{oid}</if>
            <if test="jhCode != null  and jhCode != ''"> and jh_code = #{jhCode}</if>
            <if test="jhName != null  and jhName != ''"> and jh_name like concat('%', #{jhName}, '%')</if>
            <if test="jhYu != null "> and jh_yu = #{jhYu}</if>
            <if test="dept != null  and dept != ''"> and dept = #{dept}</if>
            <if test="jhStatus != null "> and jh_status = #{jhStatus}</if>
            <if test="jhPerson != null  and jhPerson != ''"> and jh_person = #{jhPerson}</if>
            <if test="jhPmethod != null  and jhPmethod != ''"> and jh_pmethod = #{jhPmethod}</if>
        </where>
    </select>

    <select id="selectPpmFramePlanByJhId" parameterType="Long" resultMap="PpmFramePlanResult">
        <include refid="selectPpmFramePlanVo"/>
        where jh_id = #{jhId}
    </select>

    <insert id="insertPpmFramePlan" parameterType="PpmFramePlan">
        insert into ppm_frame_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jhId != null">jh_id,</if>
            <if test="oid != null">oid,</if>
            <if test="jhCode != null">jh_code,</if>
            <if test="jhName != null">jh_name,</if>
            <if test="jhYu != null">jh_yu,</if>
            <if test="dept != null">dept,</if>
            <if test="jhStatus != null">jh_status,</if>
            <if test="jhPerson != null">jh_person,</if>
            <if test="jhPmethod != null">jh_pmethod,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jhId != null">#{jhId},</if>
            <if test="oid != null">#{oid},</if>
            <if test="jhCode != null">#{jhCode},</if>
            <if test="jhName != null">#{jhName},</if>
            <if test="jhYu != null">#{jhYu},</if>
            <if test="dept != null">#{dept},</if>
            <if test="jhStatus != null">#{jhStatus},</if>
            <if test="jhPerson != null">#{jhPerson},</if>
            <if test="jhPmethod != null">#{jhPmethod},</if>
        </trim>
    </insert>

    <update id="updatePpmFramePlan" parameterType="PpmFramePlan">
        update ppm_frame_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="oid != null">oid = #{oid},</if>
            <if test="jhCode != null">jh_code = #{jhCode},</if>
            <if test="jhName != null">jh_name = #{jhName},</if>
            <if test="jhYu != null">jh_yu = #{jhYu},</if>
            <if test="dept != null">dept = #{dept},</if>
            <if test="jhStatus != null">jh_status = #{jhStatus},</if>
            <if test="jhPerson != null">jh_person = #{jhPerson},</if>
            <if test="jhPmethod != null">jh_pmethod = #{jhPmethod},</if>
        </trim>
        where jh_id = #{jhId}
    </update>

    <delete id="deletePpmFramePlanByJhId" parameterType="Long">
        delete from ppm_frame_plan where jh_id = #{jhId}
    </delete>

    <delete id="deletePpmFramePlanByJhIds" parameterType="String">
        delete from ppm_frame_plan where jh_id in
        <foreach item="jhId" collection="array" open="(" separator="," close=")">
            #{jhId}
        </foreach>
    </delete>
</mapper>